@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body {
  font-family: 'Handlee', cursive;
  height: 100vh;
  width: 100vw;
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  position: relative;
  background: linear-gradient(0.25turn, #015376, #2d2d2d, #7b0101); 
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
}

.topBar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}


.logo-image {
  height: 75px;
  width: auto;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.signup {
  margin-right: 24px;
  font-size: 24px;
  font-weight: bolder;
  border: 0;
  border-radius: 12px;
  background: #015376; 
  color: white;
  padding: 4px;
  width: 100px;
  height: 40px;
}

.signup:hover, .deleteButton:hover {
  transform: scale(1.1);
}

.signup:active, .deleteButton:active {
  transform: translateY(4px);
}

.contBooks {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 24px;
  padding: 24px;
}

.footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  gap: 5px;
  
}

.hublogo {
  height: 50px;
  width: auto;
  margin-bottom: 2px;
  background-color: white;
  border-radius: 50%;
}

.addBook {
  margin: 0 auto;
  position: fixed;
  z-index: 9;
  left: 50%;
}

.plus {
  height: 75px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.plus:hover {
  transform: scale(1.1);
}

.plusButton:active {
  transform: translateY(4px);
}

.open-button {
  background: transparent;
  position: relative;
  border: 0;
  padding: 0;
}

.form-popup {
  display: none;
  position: relative;
  right: 40%;
  z-index: 9;
  background: linear-gradient(0.25turn, #7b0101, #2d2d2d, #015376); 
  border-radius: 12px;
  color: white;
  opacity: 55;
}

/* Add styles to the form container */
.form-container {
  width: 350px;
  padding: 10px;
}

.form-container input[type=text] {
  width: 320px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 12px;
  background: linear-gradient(0.25turn, #015376, #2d2d2d, #7b0101); 
  color: white;
}

.btn {
  border-radius: 12px;
  margin-top: 8px;
}

.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: #2d2d2d;
  color: white;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.book {
  height: 300px;
  width: 276px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin: 8px;
  white-space: pre;
  background: linear-gradient(0.25turn, #7b0101, #2d2d2d, #015376); 
  color: white;
  border-radius: 12px;
  padding: 24px;
  position: relative;
}

.book:hover {
  box-shadow: 0 0 10px black;
  transform: scale(1.1);
}

.deleteButton {
  background: url(../img/trash-can-outline.svg) no-repeat;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  appearance: none;
  position: relative;
  left: 70px;
  top: 100px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.textBox {
  cursor: pointer;
}

#textMark, #read {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  top: 3px;
}